/* Shared style */

* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
  color: white;
}

.btn {
  padding: 15px 35px;
  background-color: #e55473;
  border-radius: 5px;
  border: none;
}

.primary-color {
  color: #e55473;
}
/* Banner */

header {
  margin-top: 0px;
}
.banner-container {
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 150px;
}

.banner-pic {
  height: 540px;
  width: 480px;
  margin: 35px 15px 0px 0px;
  padding-bottom: 0px;
  background-attachment: fixed;
}

.banner-content {
  margin-top: 100px;
  padding: 10px;
}
.banner-headline {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
}

.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 90%;
}

/* Hot Deals */
.hot-deals-container {
  padding: 70px 260px;
  background: rgba(229, 84, 115, 0.07);
}
.hot-deals {
  margin: auto;
  text-align: center;
}

.hot-deals-headline {
  font-size: 30px;
  margin-bottom: 20px;
}

.hot-deals-description {
  width: 95%;
  margin: auto;
  margin-bottom: 15px;
}
.hot-deals-pic {
  width: 238px;
  height: 320px;
}

/* Photo Gallery */
.media {
  text-align: center;
  padding-top: 50px;
  width: 90%;
  margin: auto;
}

.photo-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 250px;
  padding-top: 20px;
  gap: 20px;
}

.gallery-image {
  width: 300px;
  height: 300px;
}

/* Subscription */

.contact {
  width: 80.5%;
  margin: auto;
  background-image: url("./asset/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 100px;
  text-align: center;
  padding: 100px 5px;
  margin-top: 50px;
  border-radius: 5px;
}
.subscription {
  width: 70%;
  margin: auto;
}
input {
  padding: 15px;
  width: 500px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

/* Footer */

footer {
  background: #111010;
  text-align: center;
  padding: 90px 300px;
}

.footer-headline {
  font-size: 35px;
  font-weight: 800;
  color: white;
}

.footer-description {
    font-size: 13px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    width: 60%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2;
}
.copyright{
    font-size: 30px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.40);
    font-size: 12px;
    font-weight: 80;
}
